.nav-container {
    background: var(--dark-grey);
    background-image: url("../../assets/images/neotek-banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    overflow: hidden;
    height: 11vh;
    position: sticky;
    top:0;
    left:0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
}

.logo {
    height: 100px;
    width: 110px;
    padding: 0px;
    /*background: red;*/
}

.logo img {
    height: 100%;
    width: 100%;
}

.name {
    padding: 10px;
    margin-left: 3rem;
}

.name h1 {
    font-size: 2rem;
    color: white;
}