.nav-container {
    background: #0761ff;
    height: 11vh;
    position: sticky;
    top:0;
    left:0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 100px;
    width: 110px;
    padding: 10px;
    margin-right: 3rem;
    /*background: red;*/
}

.logo img {
    height: 100%;
    width: 100%;
}

.name {
    padding: 10px;
    margin-left: 3rem;
}

.name h1 {
    font-size: 2rem;
    color: white;
}